* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color: #a6a5e4;
  --color-active: #fcfcfe;
  --color-sec: #4a4a4a;
  --color-light: #eeeeee;
  --color-name: #545454;
  --bg-secondary: rgba(63, 85, 200, 1);
  --bg-secondary-gradiant: rgba(94, 59, 200, 1);
}
.main__page {
  display: flex;
  padding: 1rem;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  font-family: Courier, monospace, Helvetica, sans-serif;

  gap: 5%;
}

.main__section {
  width: 60%;

  display: flex;
  flex-direction: column;
}

.leaflet-control-attribution .leaflet-control {
  display: none !important;
}

.location__details {
  display: flex;
  gap: 1rem;

  color: #9a9a9a;

  margin-top: 1rem;
  align-items: end;
  justify-content: flex-end;
}

.location__details b {
  color: var(--color-name);
}
